.Nav{
    width:100%;
    background-color: #282c34;
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color:#fff;
}
.Nav-a{
    color: #fff!important;
}
.Nav-a:hover{
    color: #2edf!important;
}
.Nav-button{
    display:none;
    cursor: pointer;
}
.Nav-svg{
    width:2em;
    height:2em;
    fill:#fff;
}
.Nav-nav{}
.Nav-ul{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.Nav-li{
    margin: 0 .5em;
}
@media screen and (max-width:480px){

    .Nav-button{
        display: flex;
    }
    .Nav-nav{
        width:100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height:0vh;
        opacity: 0;
        overflow: hidden;
        transition: all .5s ease;
    }
    .Nav-nav.isActive{
        height:50vh;
        opacity: 1;
    }
    .Nav-ul{
        flex-direction: column;
    }
    .Nav-li{
        margin: .5em 0;
    }
}